<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="keywords" content="web software development, software, development, desenvolvimento, sistemas, consulting, consultoria, , ruby, ruby on rails, ios, android, design, UX, qualidade, testes, programação, aplicativos" />
<meta name="description" content="Consultoria que tem como objetivo oferecer serviços na area de desenvolvimento de software sob medida para seus clientes. Focando sempre na qualidade da entrega e satisfação dos mesmos!" />
<meta property="og:title" content="WebXperience - Desenvolvimento Web e Consultoria Digital" />
<meta property="og:description" content="Soluções digitais sob medida para sua empresa" />
<meta property="og:url" content="http://www.webxperience.com.br" />
<meta property="og:image" content="https://raw.githubusercontent.com/webxperience/webxperience.github.io/master/img/banner.png" />
<meta property="og:image:width" content="1246" />
<meta property="og:image:height" content="512" />
<meta name="author" content="WebXperience" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification" content="OeoGoq2J1YmZaAQ4EJxlAdjuA2-muGzpi37REeyegic" />
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />

<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>


<script src="{{ site.baseurl }}/js/main.js"></script>
